[submodule "2023/extern/blib"]
	path = 2023/extern/blib
	url = https://github.com/jrichter42/blib.git
[submodule "2023/aoc23_input"]
	path = 2023/aoc23_input
	url = https://github.com/jrichter42/aoc23_input.git
